{% extends "pages/layout.twig" %}

{% block content %}
    <div class="d-flex mb-3">
        <h1>Gestion des paniers</h1>
        <a class="btn btn-primary btn-primary ml-auto p-2" href="{{ path_for("edit_basket") }}" role="button">Editer le panier de la semaine</a>
    </div>

    {% for basket in baskets %}
        <div class="mb-3 p-2 item-card d-flex">
            <div class="ml-2 align-self-center d-flex">
                Panier de la semaine {{ basket.numsemaine }} ({{basket.year}})
            </div>
            <div class="ml-auto p-2 align-self-center position-relative">
                <a href="{{ path_for("vew_basket", {id: basket.id_panier}) }}" class="btn-icon">
                    <img class="btn-img" src="{{ base_url() }}/images/eye.png" alt="trash">
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}

