{% extends "pages/layout.twig" %}

{% block css %}
    <link href="{{ base_url() }}/CSS/order.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="text-center">Effectuer une commande occasionnelle</h1>
    <hr>
    <div id="week_occasional_order" class="shadow p-3 mb-4">
        <h3 class="text-center"> Produits disponibles </h3>
        <div id="products" class="card-deck">
            {% for product in products %}
                <div class="mr-auto ml-auto mb-3 col-2">
                    <div class="product-card m-auto w-100">
                        <div class="font-weight-bold">
                            {{ product.nomproduit }}
                        </div>
                        {{ product.valeur }} {{ product.unite }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="">
        <h3> Votre commande </h3>
        <div class="w-50 m-auto">
            <form action="#" method="post" id="order_form">
                {% for product in products %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="product-card m-auto w-100">
                                <div class="font-weight-bold">
                                    {{ product.nomproduit }}
                                </div>
                                {{ product.prixunitaire }}€/{{ product.unite }}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="input{{ product.id_produit }}" class="w-100 text-center">Quantité (0)</label>
                            <input id="input{{ product.id_produit }}" name="input{{ product.id_produit }}" type="range" min="0" max="{{ product.valeur }}" value="0" class="slider w-100" data-price="{{ product.prixunitaire }}">
                        </div>
                    </div>
                {% endfor %}
                <div class="d-flex">
                    <input type="submit" class="btn btn-primary mr-2" value="Valider">
                    <input type="submit" id="cancel_order" class="btn btn-danger" value="Annuler" data-url="{{ path_for("home") }}">
                    <div id="order_price" class="align-center ml-auto font-weight-bold">
                       Total : 0 €
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ base_url() }}/JS/order.js"></script>
{% endblock %}

