{% extends "pages/layout.twig" %}

{% block css %}
    <link href="{{ base_url() }}/CSS/order.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="text-center"> Mom compte </h1>
    <div class="user-card p-3">
        <div class="d-flex">
            <h3 class="font-weight-bold">
                {{ user.nom }} {{ user.prenom }}
            </h3>
            <div class="fit-content ml-2 my-auto">
                 {{ user.role }}
            </div>
        </div>
        <hr>
        {% if user_role == "Abonné" %}
            {% if refus is not empty %}
                <div class="font-weight-bold">
                    Refus de paniers
                </div>
                <div class="d-flex">
                    <div class="refus">

                        {% for r in refus %}
                            <div class="">
                                Panier de la semaine N°{{ r.numsemaine }} ({{ r.year }})
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
            {% endif %}
            <div class="d-flex">
                {% if is_sub_up == 1 %}
                    <div class="fit-content my-auto mr-2">
                        L'abonnement est renouvelé pour le prochain trimestre
                    </div>
                {% else %}
                    <button class="btn btn-primary mr-2" id="update_sub"> Poursuivre mon abonnement ({{ tarif }}€)</button>
                    <form action="{{ path_for("update_sub") }}" method="post" class="d-none">
                        <button type="submit" class="btn btn-primary mr-2">Valider mon réabonnement ({{ tarif }}€) </button>
                    </form>
                {% endif %}
                <button class="btn btn-danger" id="cancel_sub"> Résiler mon abonnement </button>
                <form action="{{ path_for("cancel_sub") }}" method="post" class="d-none">
                    <button type="submit" class="btn btn-danger"> Valider la résiliation de mon abonnement</button>
                </form>
            </div>

        {% else %}
            <div class="d-flex" id="subscribe">
                <div class="font-weight-bold" id="textsubscribe">
                    Abonnez vous pour bénéficiez de nos services de distribution de paniers
                </div>
                <div class="p-2 text-center">
                    <a class="btn btn-primary" href="{{ path_for("subscription_form") }}" role="button">S'abonner</a>
                </div>
            </div>
        {% endif %}
    </div>
    <hr>
    <h1 class="text-center"> Mes commandes occassionnelles </h1>
    <div class="d-flex">
        {% for order in orders %}
            <div class="order-card mr-3 position-relative">
                <div class="order-title p-2 {% if order.statut == 'Validée'%} order-card-valide {% elseif order.statut == 'Annulée' or order.statut == 'Refusée' %} order-card-refused {% endif %}">
                    Commande du {{ order.datedemande|date("m/d/Y") }}
                </div>
                <div class="order-products mt-1">
                    {% for product in order.products %}
                        <div class="d-flex pl-3 mb-1 border-bottom ">
                            <div class="w-50">
                                {{ product.nomproduit }}
                            </div>
                            <div>
                                {{ product.valeur }} {{ product.unite }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="font-weight-bold position-absolute fixed-bottom d-flex p-2">
                    <div class="fit-content m-auto">
                        Total : {{ order.prixtotal }}€
                    </div>
                    {% if order.statut == "En attente de validation" %}
                        <form class="form-inline" method="post" action="{{ path_for('accept_order', {id:order.id_commande}) }}">
                            <button type="submit" class="btn btn-primary">Valider commande</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script src="{{ base_url() }}/JS/order.js"></script>
{% endblock   %}