<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path_for('home') }}">AMAP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                {% if user_role == "Admin" or user_role == "Producteur"  or user_role == "postgres" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path_for('stock') }}">Stock</a>
                    </li>
                {% endif %}

                {% if user_role == "Admin" or user_role == "Producteur"  or user_role == "postgres" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path_for('basket') }}">Paniers</a>
                    </li>
                {% endif %}

                {% if user_role == "Non abonné" or user_role == "Abonné" or user_role == "postgres" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path_for('order_management') }}">Mes commandes</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        {% if user_role == "Visiteur" or user_role == "postgres" %}
            <form class="form-inline" action="{{ path_for('sign_in') }}">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Connexion</button>
            </form>
        {% else %}
            <form class="form-inline" action="{{ path_for('sign_in') }}">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Déconnection</button>
            </form>
        {% endif %}
    </div>
</nav>